body {
  /* display: flex; */
   /* align-items: center;  */
   /* justify-content: center;  */
  height: 100vh;
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
    /* background-color: #48D1CC; */
    background-color: rgb(53, 8, 53);

}
h1 {
    color: rgb(117, 26, 87);
    font-style: italic;
    font-family: 'Copperplate', 'Fantasy', sans-serif; 
    /* text-decoration: underline; */
   }
   
   p {
     font-size: 15px;
     font-family: 'Trebuchet MS', sans-serif; 
     font-weight: bold;
 
   }
  
.imagem-no-canto {
  /* position: absolute; */
  /* bottom: 250; */
  /* right: 590; */
  width: 100px; /* ou o tamanho desejado */
  height: 100px; /* ou o tamanho desejado */
}

.centro {
  width: 200px; /* ou o tamanho desejado */
  height: 200px; /* ou o tamanho desejado */
  background-color: rgb(219, 7, 134);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

